.logoImage {
  width: 100%;
  max-width: 150px;
  align-self: flex-end;
}
.searchIcon {
  color: #ffffff;
}
.searchBarContainer {
  border: none;
}

:global(.vtex-input-prefix__group) {
  border: none;
  border-bottom: 1px solid #fff;
}
:global(.vtex-input-prefix__group):hover {
  border-bottom: 2px solid #fff;
}
