.flexRow--header {
  background-color: #212121;
}

.flexColChild {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexColChild--logo-container {
  width: 10vw;
}
.flexColChild--cart-container {
  width: 10vw;
}
